@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.format-options{
    margin: 20px auto;
    padding: 15px, 20px;
    width: 1000px;
    text-align: center;
    font-size: 25px;
    font-family: Playfair+Display+SC, serif;
    display: flex;
    justify-content: space-between;
}

.option{
    margin: 0, 10px;
    border: solid white;
    border-width: 0, 2px;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    width : 100px;
    transition: all 0.3s ease;
}

.option:hover{
    cursor: pointer;
    background: #e0e0e0;
}

#bold{
    font-weight: bold;
}

#italics{
    font-style: italic;
}

#underline {
    text-decoration: underline;
}